<body>
    

    <div class="flex-container align-right">
      <div style="flex-basis: 200px">
        <h3>Links</h3>
        <li>
          <a href="https://peacefulfieldssanctuary.org/">Offical Peaceful Fields</a>
        </li> 
        <li>
          <a href="https://www.patreon.com/PFSanctuary">Patreon</a>
        </li> 
        <li>
          <a href="https://www.facebook.com/peacefulfieldssanctuary/">Facebook</a>
        </li> 
        <li>
          <a href="https://twitter.com/pfsanctuary">Twitter</a>
        </li> 
        <li>
          <a href="https://www.instagram.com/peacefulfieldssanctuary/">Instagram</a>
        </li> 
        <li>
          <a href="https://www.w3schools.com/">Webmasters Personal Site</a>
        </li>
      </div>
      <div style="flex-basis: 300px">
        <h3>Disclaimer</h3>
        <p>This is not the offical site for Peaceful Feilds Sanctuary. Please vist the links to the left for their offical materials. While this site was 
          produced with permission from the PFS LLC, it was created without their direct oversite and therefore may not reflect the most offical information.  </p>
      </div>
    </div>
    </body>
