<div class="container text-center">
    <h1>Turkeys</h1>
  </div>
  
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                      <img src="/assets/brutus.png" class="card-img-top" alt="...">
                    </div>
                    <div class="bio">
                        <h4>Bruce</h4>
                        <p>Bruce, the white double-breasted turkey, arrived at Peaceful Fields Sanctuary only weeks before he was to be slaughtered for Thanksgiving 2020 at Fredericksburg, Virginia farm.

                            He was very dirty, incredibly weak, and shivering hard in the cold rain when he got here (see the slideshow below). In addition to the dirt, he was covered in odd skin lesions, so we gave him a warm bath and antibiotics.
                            
                            Over the course of the next two weeks, he spent days sunbathing on the fenced-in deck and nights indoors in a repurposed PackNPlay until he was strong enough to walk on his own and join the rest of the flock.
                            
                            Bruce still has some concerning balance issues of unknown origin which we’re closely monitoring with our vet, but that doesn’t stop him from patrolling the fence line with his turkey friends or following humans around like a shadow!
                            
                            He really wants to eat shiny things so hide your rings, bracelets, or watches when you’re around him and keep an eye out for your zippers – he might try to bite them! Like many of our residents, he loves fresh veggies, especially bite-size pieces of mangoes and bananas.
                            
                            Turkeys have over 20 different vocalizations they can make and, like us, their face can change color when excited or stressed. Bruce is very expressive both vocally and visually – it’s clear when you meet him that this sweet boy truly wears his heart on sleeve!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>
  <body>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/fred.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fred</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/Ricky.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ricky</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/ethel.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ethel</h5>
    </div>
  </div>

  <div class="container text-center">
    <h1>Ducks</h1>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/donald.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Donald</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/daisy.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Daisy</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/fern.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fern</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/wilbur.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wilbur</h5>
    </div>
  </div>
</body>