
<body><div class="container text-center">
    <h1>About Us</h1>
  </div>

<div class="card">
    <h1>Our Mission</h1>
    <p>Our mission is to honor all of creation through providing a safe & forever home for farmed animals in need, so they can live free from abuse, exploitation, and neglect. A core aspect of this mission is to highlight the cruelty of animal agriculture through showcasing the personality and lives of our residents and engage in vegan outreach to prevent further harm.

        As an incorporated 501c3 non-profit we are run by a small team of dedicated staff & volunteers and supported by generous donors & advocates like you. Located just outside of Winchester, VA, nestled in among the Blue Ridge Mountains, PFS is home to many turkeys, chickens, ducks, cattle, goats, sheep, pigs, and equines rescued from abuse, neglect, and the cruelty of animal agriculture.</p>
</div>
<br>
<div class="card text-center">
    <h1>Our Guiding Principals</h1>
    <p>Few Jewish concepts are as well known in the world community as tikkun olam, translated as “repair of the world.” This Jewish
        “social policy” or mandate, encourages acts of “repair” and emphasizes a human responsibility for fixing what is wrong in the world.
        These acts could include charitable giving or going vegan, as well as many other ways for us to do tikkun olam in our daily lives.
<br>
        At PFS, this is a powerful tenant that informs our mission and our every day actions. Our collective, human responsibility to change, 
        improve, and fix what is wrong with our world, society, and community is powerful – and means that each individual has an essential role
        in building a better future. We are reminded of the wrongs done to farmed animals in animal agriculture every single day and we know it
        is our responsibility to fix it. In our peaceful fields, we are doing just that!
    
<br>
There are certain mitzvahs or “commandments” within Judaism, and one of them is tza’ar ba’alei chayim, translated as a “prohibition against the
 cruelty and suffering of living creatures.” This prohibition against tza’ar ba’alei chayim not only prevents unnecessary cruelty to animals,
  but also imposes certain positive obligations on those entrusted with caring for animals.
<br>
At PFS, we must feed, water, and otherwise care for our residents’ basic needs and we are required to take extra precautions to alleviate the 
suffering of these animals and provide enrichment. This specific mitzvah mirrors our vegan principles of prevention of animal cruelty, suffering,
 and exploitation quite well. We believe that it is our responsibility as humans to treat all other beings on this earth, especially those more
  vulnerable than us, like farmed animals, with care and respect. In sum, we strive to honor all of creation.</p>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                      <img src="/assets/john.png" class="card-img-top" alt="...">
                    </div>
                    <div class="bio">
                        <h4>About Our Staff</h4>
                        <p>It takes a community of dedicated people to make Peaceful Fields Sanctuary what it is.
                            John Netzel (Pictured right with Paula the Pygmy goat) and staff are the primary caregivers, living on-site and 
                            providing for the rescued residents day and night.
                             We could not do this work without the generous support of our volunteers who pledge their time, resources, and
                              energy for the residents.
                            
                            Thank you to each and every one of you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>