


<div class="container text-center">
  <h1>Goats</h1>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                    <img src="/assets/toby.png" class="card-img-top" alt="...">
                  </div>
                  <div class="bio">
                      <h4>Toby</h4>
                      <p>Toby was originally purchased by a suburban family here in Frederick County. Thier intent was to keep him as a pet for the kids,
                        as well as a means to keep thier lawn trimmed. While this may seem like a good idea, families often under estimate how much work it is to properly 
                        care for a goat as well as overlooking the fact that goats are herd animals and for them to truely thrive they should be kept in groups. 
                        While Toby was still young at his old home, he sustained a severe injury to his right front leg. The family in question did not have the resources to 
                        commit to healing his leg. The approached us here with the understanding that if we could not take him in he would need to be  put down. We were able to raise the 
                        funds to get Toby's leg amputated, and he has lived happily in ou pygmy goat yard ever since. 
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="bio">
                      <h4>Sweet Pea</h4>
                      <p>Sweet Pea the pygmy goat came to the Sanctuary in October 2014, along with Buster the big goat, after being rescued from a goat meat & dairy farm. Sweet Pea tends to shy away from most other goats and humans, probably due to the isolation and neglect she experienced before coming to the Sanctuary.

                        That said, Sweet Pea is very talkative and tends to build trust with long-term volunteers enough to permit them to give her occasional scratchies. Despite her very round appearance, she is not pregnant and can quite easily squish into or sneak through small spaces!
                        
                        Sweet Pea’s daily routine usually includes standing in her special corner of the pygmy goat yard, taking long naps in the sun, and rounding off the day with some evening rubs against the fence for scratches. She will begrudgingly approach you if you happen to have her favorite snacks of strawberries, apples, or bananas.</p>
                    </div>
                  <div class="img-square-wrapper">
                    <img src="/assets/sweetpea2.png" class="card-img-top" alt="...">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<body>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/beans.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Beans</h5>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/heidi.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Heidi</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/nala.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nala</h5>
    </div>
  </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/paula.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paula</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/warren.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Warren</h5>
      </div>
  </div>

</body>