<body><div class="container text-center">
    <h1>How to Get Involved</h1>
  </div>

<div class="card">
    <h1>Donate</h1>
    <p>As a 501c3 nonprofit charity organization, we are only able to pursue our mission and save lives because of generous donors like you. Without your support & belief, this work would not be possible. The costs of caring for rescued farmed animals (including providing hay, grain, bedding, & veterinary care) along with essential property upkeep and winterization for their safety is quite costly.

        There are four main ways to support our mission:
        
        Sponsor an Animal Resident
        
        Join our $8 Buy-A-Bale Program
        On average, PFS uses three bales of hay/straw every single day, each of which costs $8.
        Help us ensure our residents have a constant supply of this Sanctuary essential!
        
        Make a one-time donation via PayPal
        (Checks may also be made to Peaceful Fields Sanctuary and mailed to
        153 Peace Field Lane Winchester, VA 22603)
        
        Finally, you can join our patreon! All donation links are found below!</p>
</div>
<br>
<div class="card text-center">
    <h1>Volunteer</h1>
    <p>It takes a community of dedicated people to make Peaceful Fields Sanctuary what it is.
        We could not pursue our mission without the generous support of our volunteers who pledge their time, resources, and energy for the residents.
        
        Interested in joining our Care Team? Attend one of our upcoming Volunteer Orientations to get started! <a href="https://peacefulfieldssanctuary.org/donate/volunteer/">Click here!</a>
        
        Volunteer Orientation is a great way to see behind-the-scenes of sanctuary caregiving & get used to working around farmed animals.
        
        We host Volunteer Orientations on the first Sundays of each month.
        
        If you have any questions; have previously volunteered with us & wish to schedule a recurring volunteer shift; or are part of a group interested in scheduling a private volunteer day, please reach out to us at volunteer@peacefulfieldssanctuary.org!</p>
</div>
<br>


<div class="card">
    <h1>Visit</h1>
    <p>Due to our small staff size and out of respect for the animals (who can become over stressed as a result of previous abuse and trauma), the Sanctuary is not open daily to the public.

        We usually hold a tour/open house at least once a month. Visitors age 6 and above are welcome to visit the Sanctuary. All minors must be accompanied by a parent/guardian at all times.
        
        If you are interested in becoming a volunteer, please sign up for one of our upcoming Volunteer Orientations (typically the first Sunday of each month.) Volunteers must be age 13 and above. Minors must be accompanied by a parent or guardian for the duration of their visit.</p>
</div></body>