


<div class="container text-center">
  <h1>Large Animals</h1>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                    <img src="/assets/watson.png" class="card-img-top" alt="...">
                  </div>
                  <div class="bio">
                      <h4>Watson</h4>
                      <p>Our gentle giant Watson, was rescued from the dairy industry in West Virginia. After a stay at a foster family, he eventually found his way to Peaceful Fields Sanctuary to live out the rest of his days.

                        His kisses are like a water park ride and hugging his handsome & massive face is pure joy. Well over six feet tall and 1,500 lbs, you can watch him enjoy sanctuary life even from a far distance. He loves his pear tree in the fields, the only thing big enough to withstand his rubs for scratchies that also provides snacks in the summertime!
                        
                        Watson is one of the few boys able to escape the cruel fate of the dairy industry. Calves are routinely removed from their cow mothers after birth (to ensure the mother’s milk is used for human consumption rather than calf nutrition) and boys in particular are either killed, sent to auction, or raised for veal.
                        
                        We estimate he is about 13 years-old, as of this writing in 2020. We are so grateful our sweet Watson was spared the fate that so many of his kind face in the dairy industry, and we hope that one day we will no longer accept the myth of “happy cows,” remove dairy products from their diet, and sponsor those like him who enjoy sanctuary life so that others may be saved too.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="bio">
                      <h4>Elvis</h4>
                      <p>Elvis the quarter horse came to us in December 2014 from Montgomery County, Maryland, after being seized in an especially severe abuse and neglect case. Seventeen counts of animal cruelty were charged against the individual, including failure to provide water, shelter, food, and vet care. Six other horses were seized by the County after a successful prosecution, including one horse who could not be saved. Elvis’ pregnant mate was among those rescued and she eventually gave birth to a filly, who both reside at another sanctuary.

                        Elvis shares a barn with his best friend Brownie the donkey. They often play together just like brothers, nipping and chasing each other through the fields. It’s not uncommon to hear Elvis whinny for Brownie, should Brownie wander off on his own. A few of our long-term volunteers have also witnessed Elvis bucking full force in the fields, which is quite a sight to see!
                        
                        Meeting Elvis in person, you can’t help but be impressed by his size and strong muscles, now that he has physically recovered. He is very sensitive to people’s energy and will get nervous if visitors are nervous around him. He loves to be hand-fed apples!</p>
                      </div>
                  <div class="img-square-wrapper">
                    <img src="/assets/elvis.png" class="card-img-top" alt="...">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                    <img src="/assets/brownie.png" class="card-img-top" alt="...">
                  </div>
                  <div class="bio">
                      <h4>Brownie</h4>
                      <p>Our sweet Brownie was found abandoned in a field with horses. We were able to surmise from his early behavior that his previous owners would electrocute him to prevent him from drinking water. It often takes Brownie two or three passes by the water trough before he feels comfortable to drink, and is easily spooked by sudden movement or sounds.

                        He has made immense emotional growth since joining Peaceful Fields in July 2014. He and Elvis the horse have become best friends, often eating and playing together, and Brownie doesn’t shy away from new people as often as he used to.
                        
                        While he’s still a bit timid and and can get overwhelmed around groups of people due to his past experiences, he loves to be hand-fed treats and have the insides of his ears scratched. We affectionately call him Brownie Batter when he gets ear scratchies, as his lower lip droops and his whole face relaxes!
                      </p>      
                  
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="bio">
                      <h4>Elvis</h4>
                      <p>Elvis the quarter horse came to us in December 2014 from Montgomery County, Maryland, after being seized in an especially severe abuse and neglect case. Seventeen counts of animal cruelty were charged against the individual, including failure to provide water, shelter, food, and vet care. Six other horses were seized by the County after a successful prosecution, including one horse who could not be saved. Elvis’ pregnant mate was among those rescued and she eventually gave birth to a filly, who both reside at another sanctuary.

                        Elvis shares a barn with his best friend Brownie the donkey. They often play together just like brothers, nipping and chasing each other through the fields. It’s not uncommon to hear Elvis whinny for Brownie, should Brownie wander off on his own. A few of our long-term volunteers have also witnessed Elvis bucking full force in the fields, which is quite a sight to see!
                        
                        Meeting Elvis in person, you can’t help but be impressed by his size and strong muscles, now that he has physically recovered. He is very sensitive to people’s energy and will get nervous if visitors are nervous around him. He loves to be hand-fed apples!</p>
                      </div>
                  <div class="img-square-wrapper">
                    <img src="/assets/elvis.png" class="card-img-top" alt="...">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>