<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Peaceful Fields</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="help">How to Help</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Animals
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="goats">Goats</a></li>
              <li><a class="dropdown-item" href="biggons">Large Animals</a></li>
              <li><a class="dropdown-item" href="chickens">Chickens</a></li>
              <li><a class="dropdown-item" href="turkeys">Ducks and Turkeys</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
