


<div class="container text-center">
  <h1>Large Animals</h1>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                    <img src="/assets/watson.png" class="card-img-top" alt="...">
                  </div>
                  <div class="bio">
                      <h4>Watson</h4>
                      <p>Our gentle giant Watson, was rescued from the dairy industry in West Virginia. After a stay at a foster family, he eventually found his way to Peaceful Fields Sanctuary to live out the rest of his days.

                        His kisses are like a water park ride and hugging his handsome & massive face is pure joy. Well over six feet tall and 1,500 lbs, you can watch him enjoy sanctuary life even from a far distance. He loves his pear tree in the fields, the only thing big enough to withstand his rubs for scratchies that also provides snacks in the summertime!
                        
                        Watson is one of the few boys able to escape the cruel fate of the dairy industry. Calves are routinely removed from their cow mothers after birth (to ensure the mother’s milk is used for human consumption rather than calf nutrition) and boys in particular are either killed, sent to auction, or raised for veal.
                        
                        We estimate he is about 13 years-old, as of this writing in 2020. We are so grateful our sweet Watson was spared the fate that so many of his kind face in the dairy industry, and we hope that one day we will no longer accept the myth of “happy cows,” remove dairy products from their diet, and sponsor those like him who enjoy sanctuary life so that others may be saved too.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="bio">
                      <h4>Watson</h4>
                      <p>Our gentle giant Watson, was rescued from the dairy industry in West Virginia. After a stay at a foster family, he eventually found his way to Peaceful Fields Sanctuary to live out the rest of his days.

                        His kisses are like a water park ride and hugging his handsome & massive face is pure joy. Well over six feet tall and 1,500 lbs, you can watch him enjoy sanctuary life even from a far distance. He loves his pear tree in the fields, the only thing big enough to withstand his rubs for scratchies that also provides snacks in the summertime!
                        
                        Watson is one of the few boys able to escape the cruel fate of the dairy industry. Calves are routinely removed from their cow mothers after birth (to ensure the mother’s milk is used for human consumption rather than calf nutrition) and boys in particular are either killed, sent to auction, or raised for veal.
                        
                        We estimate he is about 13 years-old, as of this writing in 2020. We are so grateful our sweet Watson was spared the fate that so many of his kind face in the dairy industry, and we hope that one day we will no longer accept the myth of “happy cows,” remove dairy products from their diet, and sponsor those like him who enjoy sanctuary life so that others may be saved too.</p>
                  </div>
                  <div class="img-square-wrapper">
                    <img src="/assets/watson.png" class="card-img-top" alt="...">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
