<body>
<div class="container text-center">
  <h1>Rooster and Hens</h1>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/willie.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Willie</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/fruitcup.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Fruit Cup</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/tarzan_bob.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tarzan Bob</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/steve.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Steve</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/thelma.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Thelma</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/loise.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Loise</h5>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/barb.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Barb</h5>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/bonna.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bonna</h5>
  
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/Char.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Char</h5>
    
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/Zenon.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Zenon</h5>
  </div>
</div>

<body>
  <div class="card text-center">
    <h1>Kaporos Survivors</h1>
    <p>Kaporos/Kapparot is a sacrificial religious tradition practiced by some Orthodox and Hasidic Jews. This ritual is performed just 
      before Yom Kippur, a Jewish holiday in early fall focusing on the cleansing of one’s sins. Every year, over 50,000 six-week-old Cornish
      Cross chickens (chickens bred for rapid growth and early slaughter on industrial chicken farms) are grabbed by their fragile wings and legs, 
      swung overhead, and then are killed or, more often, left for dead on the streets and in trash cans. Many chickens die from exposure, dehydration, 
      and malnutrition while sitting outside without access to food or water, waiting, before anyone even uses them for the Kaporos ritual.
    <br>
    People who practice Kaporos believe that they are transferring their sins from the preceding year to a live chicken, and, by sacrificing the chicken, 
    thereby absolve themselves of those sins for the future. Practitioners of the Kaporos ritual often claim that the slaughtered chickens are donated to 
    charities that provide food for the homeless; however, it is clear that this claim is mostly untrue, as animal rights activists often find dead chickens
     in trash cans and regularly discover chickens still alive, mixed in among the dead.
   </p>
   <br>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/Sxyqig16InM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</body>

